body{
    background-color: rgb(236, 154, 0);
}
/*Header*/

header {
    background-color: white;
    color:rgb(236, 154, 0) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .logoConectarHeader {
    width: 50px;
  }
  
  .navBarHeader,
  .navSocialMediaHeader {
    display: flex;
    gap: 20px;
  }
  
  .navSocialMediaHeader i {
    font-size: 20px;
  }
  
  
  
  .burgerMenu{
    display: none;
  }
  .banner {
    background-image: url("./imagenes/Grand-Tasty-1-e1627506211463.jpg");
    width: 98,9%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    display: flex;
    align-items: center;
    padding-left: 20px;
  }